In [14]:


# Set the path

import pandas as pd
from pathlib import Path

# Read in the CSV as a DataFrame
csv_path = Path("budget_data.csv")

company_profit_loss_csv = pd.read_csv(csv_path)
company_profit_loss_csv.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [13]:
 
month_pl_count = company_profit_loss_csv.shape

print(f"{month_pl_count}")
print(f"{month_pl_count[0]}")
#    i+=1
#    print

(86, 2)
86

In [50]:
#record_count = month_pl_count[0]
record_count = 86
pl_total = 0
pnl = company_profit_loss_csv["Profit/Losses"]
# print(pnl)
# print(pnl[1])
i = 1

for cnt in range(record_count) :
    pl_total += pnl[cnt]
    
    if cnt == 85 :
        print(pnl[cnt], pl_total,)

671099 38382578