In [1]:
# This is the homework plan
# 
# import required libraries ie path and pandas
# read the file from the path
# confirm
# extractthe no of months from the recourd count
# confirm
# create a for loop to totalise the profit/losses
# confirm it is looping corrwctly ie the count

# Set the path

import pandas as pd
from pathlib import Path

# Read in the CSV as a DataFrame
csv_path = Path("budget_data.csv")

company_profit_loss_csv = pd.read_csv(csv_path)

# preview data
company_profit_loss_csv.head(5)
#company_profit_loss_csv.tail(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [2]:
month_pl_count = company_profit_loss_csv.shape

print(f"{month_pl_count}")

print(f"{month_pl_count[0]}")

(86, 2)
86

In [12]:
#record_count = month_pl_count[0]

# print(f"{month_pl_count[0]}")
 
# 
pl_total = 0
no_of_records = month_pl_count[0]


# assign only the profit/losses data to variavle pnl 

pnl = company_profit_loss_csv["Profit/Losses"]

# print(pnl)
# print(pnl[1])

for cnt in range(no_of_records) :
    pl_total += pnl[cnt]
    
    if cnt == (no_of_records - 1) :
        # printe the last record to confirm its the last record, and print total pnl
        print(cnt , pnl[cnt], pl_total)

85 671099 38382578

In [17]:
pl_change_total = 0

cnt = 0

for cnt in range(no_of_records -1) :
    
    # pause = input("Presss enter to continue")
    
    pl_amount = pnl[cnt]
    pl_next_amount = pnl[cnt+1]
    pl_change = pl_next_amount - pl_amount
    pl_change_total += pl_change
    
    # the four lines above could have been condensed to this this could have been expressed as  
    
    pl_change_total += pnl[cnt+1] -pnl[cnt]
   
    # print(cnt)
    
    if cnt == 84:
        pl_average_of_change = pl_change_total / no_of_records
        # print(cnt, pnl[cnt + 1])
        print( pl_average_of_change )

-2288.1976744186045